<h2>Here is your massage wisdom from the Massage Guru!</h2>


<h4><%=  pluralize(@recommendations.size, 'Recommendation') %></h4>

<ul>
  <% @recommendations.each do |recommendation| %>
	<li>
		<strong><%= link_to recommendation.modality, recommendation %></strong> for <%= recommendation.duration %> on 
		a <%= recommendation.frequency %> basis.

		<h4> Description:</h4> <%= truncate(recommendation.description, length: 40, separator: ' ') %>
		<h4>Pressure:</h4>
			
			<%= recommendation.pressure %>
			<h4>
				Now, go in peace to your local <%= link_to "massage therapist", 'http://sharonellerlmt.com' %>.
			</h4>
				
			
			
			
	</li>
  <% end %>
</ul>




